<!-- TRANG GIỎ HÀNG -->
<%include ../components/header%>
<link rel="stylesheet" type="text/css" href="stylesheets/checkout.css" />

<!-- short -->
<div class="using-border py-3">
  <div class="inner_breadcrumb  ml-4">
    <ul class="short_ls">
      <li>
        <a href="index">Trang chủ</a>
        <span>/ /</span>
      </li>
      <li><a href="checkout">Giỏ hàng</a></li>
    </ul>
  </div>
</div>
<%if  (!cartShop || cartShop.length===0) {%>
<section class="checkout py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <div class="shop_inner_inf">
      <div class="privacy about">
        <h3>Giỏ hàng</h3>
        <div class="checkout-right">
          <h4><i>Giỏ hàng của bạn trống</i></span></h4>
        </div>
      </div>
    </div>
  </div>
</section>
<%} else {%>

<!-- //short-->
<!--Checkout-->
<!-- //banner -->
<!-- top Products -->
<section class="checkout py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <div class="shop_inner_inf">
      <div class="privacy about">
        <h3>Giỏ hàng</h3>
        <div class="checkout-right">
          <h4>Giỏ hàng của bạn gồm: <span><%=cartShop.length%> sản phẩm</span></h4>
          <table class="timetable_sub">
            <thead>
              <tr>
                <th>STT</th>
                <th>Hình ảnh</th>
                <th>Số lượng</th>
                <th>Tên hàng</th>
                <th>Giá</th>
                <th>Ưu đãi</th>
                <th>Thành tiền</th>
                <th>Xóa</th>
              </tr>
            </thead>
            <tbody>
              <%cartShop.map((item, index)=>{%>
              <tr class="rem1 product-item-session" id="product-<%=item._id%>">
                <td class="invert"><%=index +1%></td>
                <td class="invert-image" id="img-product-checkout">
                  <a href="/single?id=<%=item._id%>"><img src="<%=item.imgs%>" alt=" " class="img-responsive" /></a>
                </td>
                <td class="invert">
                  <div class="quantity">
                    <div class="quantity-select">
                      <div class="entry value-minus" onclick="changeQuantity('<%=item._id%>', <%=index%>, -1)">&nbsp;
                      </div>
                      <div class="entry value quantityProduct" id=""><%=item.quantity%></div>
                      <div class="entry value-plus" onclick="changeQuantity('<%=item._id%>', <%=index%>, +1)">&nbsp;
                      </div>
                    </div>
                  </div>
                </td>
                <td class="invert"><%=item.name%></td>
                <td class="invert"><%=(item.price/1000.0).toFixed(3)%></td>
                <td class="invert"><%=item.discount*100%>%</td>
                <td class="invert"><%=(item.price*(1-item.discount) * item.quantity/1000.0).toFixed(3)%>đ</td>
                <td class="invert">
                  <div class="rem" onclick="onDeleteProduct('<%=item._id%>')">
                    <div class="" id="btn-cancel-product">Hủy</div>
                  </div>
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>

      </div>
      <div class="checkout-left  sum-cart-shop-wrap">
        <div class="col-6 checkout-left-basket sum-cart-shop">
          <% 
              let sum = 0;
              cartShop.map(item => {
                sum += item.price * item.quantity *(1- item.discount);
              })%>
          <h4>Tổng cộng: <span><%= (sum/1000.0).toFixed(3)%>đ</span></h4>
        </div>
      </div>


      <form action="/payment-post" method="post" id="from-payment-post" class="creditly-card-form agileinfo_form">
        <div class="col-6 controls">
          <label class="control-label">Nhập địa chỉ giao hàng <span>*</span></label>
          <div id="message-address"></div>
          <input name="address" id="address" class="form-control" type="text"
            placeholder="Ghi rõ địa chỉ (số nhà, đường, quận, huyện ..)" onkeyup="checkAddress()" />
        </div>
      </form>
      <button id="btn-pay" type="" onclick="onPayment()" class="btn subscrib-btnn">Xác nhận đặt hàng</button>
    </div>
  </div>
  <!-- //top products -->
  </div>
</section>
<%}%>
<% include ../components/footer%>
<script src="javascripts/checkout.js"></script>