<%include ../components/header%>
<script>
  document.getElementById("nav-shop").classList.add("active"); //product nav-item
</script>
<link rel="stylesheet" type="text/css" href="stylesheets/pagination.css" />

<!-- short -->
<div class="using-border py-3">
  <div class="inner_breadcrumb  ml-4">
    <ul class="short_ls">
      <li>
        <a href="index.html">Trang chủ </a>
        <span>/ /</span>
      </li>
      <%if (link!==''){%>
      <li><a href="shop">Cửa hàng</a>
        <span>/ /</span>
      </li>
      <li><a href=<%=link%>><%=title%></a></li>
      <% } else {%>
      <li><a href="shop">Cửa hàng</a></li>
      <%}%>
    </ul>
  </div>
</div>
<!-- //short-->
<!--show Now-->
<!--show Now-->
<section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
    <!-- <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
      Cửa hàng Toys Shop
    </h3> -->
    <div class="row">
      <div class="side-bar col-lg-3">
        <div class="search-hotel">
          <h3 class="agileits-sear-head">Tìm kiếm</h3>
          <form action="/search" method="post">
            <input
              type="search"
              placeholder="Tên sản phẩm"
              name="search"
              required=""
              class="keyNameSearch"
            />
            <input class ="" type="submit" value=" " />
          </form>
        </div>

        <form action="/searchAdvanced" method="post">
          <div class="left-side search-advanced-wrap">
              <div class="search-advanced-title">
              <h3 class="agileits-sear-head">Tìm kiếm nâng cao</h3>
              <input class ="btn btn-dark" type="submit" value="Tìm kiếm"/>
              </div>
            <!-- type product -->
            <div class="search-advanced">
              <h4 class="search-subtitle">Loại sản phẩm</h4>
              <select name="type">
              <option value=''>Tất cả </option>
                <% typeProduct.map((item, index)=> {%>
      <option value=<%=item._id%>>
        <%=item.name%>
      </option>
      <%})%>
      </select>
  </div>
  <!-- //type product -->
  <!-- discount -->
  <div class="search-advanced">
    <h4 class="search-subtitle">Ưu đãi</h4>
    <select name="discount">
      <option value='0'>Tất cả </option>
      <option value='5'>Từ 5%</option>
      <option value='10'>Từ 10%</option>
      <option value='20'>Từ 20%</option>
    </select>
  </div>
  <!-- //discount -->
  <!-- origin -->
  <div class="search-advanced">
    <h4 class="search-subtitle">Xuất xứ</h4>
    <select name="origin">
      <option value=''>Tất cả </option>
      <% origin.map((item, index)=> {%>
      <option value=<%=item._id%>>
        <%=item.name%>
      </option>
      <%})%>
    </select>
  </div>
  <!-- //origin -->
  <!-- producer -->
  <div class="search-advanced">
    <h4 class="search-subtitle">Nhà sản xuất</h4>
    <select name="producer">
      <option value=''>Tất cả </option>
      <% producer.map((item, index)=> {%>
      <option value=<%=item._id%>>
        <%=item.name%>
      </option>
      <%})%>
    </select>
  </div>
  <!-- //producer -->
</div>
</form>
<!-- deals -->
<div class="deal-leftmk left-side">
  <h3 class="agileits-sear-head">Sản phẩm nổi bật</h3>
  <% standOutProducts.forEach(function(item){ %> <%-
          include('../components/standOutProduct', {product: item}); %> <% });
          %>
</div>
<!-- //deals -->
</div>
<div class="left-ads-display col-lg-9">
  <div class="sum-search-result">
    <%if (sum  === 0) { %>
    <span>Không có sản phẩm nào</span>
    <%} else {%>
    <span>Có <b><%= sum%></b> sản phẩm</span>
    <% } %>
  </div>
  <!-- change order product -->
  <% conditionShowProduct = [
        {
          name: 'Theo tên tăng dần'
        },
        {
          name: 'Theo tên giảm dần'
        },
        {
          name: 'Theo giá tăng dần'
        },
        {
          name: 'Theo giá giảm dần'
        },
        {
          name: 'Theo ưu đãi tăng dần'
        },
        {
          name: 'Theo ưu đãi giảm dần'
        }
      ]%>
  <% if (products.length > 1){ %>
  <div class="change-order-list">
    Thay đổi cách hiển thị:
    <select name="conditionShowProduct" id="conditionShowProduct" onchange="changeConditionShowProduct()">
      <% conditionShowProduct.map((item, index) => {
                  if (index === show){ %>
      <option selected value=<%= index%>><%= item.name%></option>
      <%} else { %>
      <option value=<%= index%>><%= item.name%></option>
      <%}})%>
    </select>
  </div>
  <%}%>
  <!-- change order product -->

  <div class="row" id="pagination">
    <%paging.map((item, index)=>{
            if (item.name === parseInt(currentPage)) {%>
  <a class="pagination-item pagination__single pagination__single--active" href=<%=item.link%>>
    <span>
      <%=item.name%>
    </span>
  </a>
  <%} else if (!item.isNumber){%>
  <a class="pagination-item pagination__single--page" href=<%=item.link%>>
    <span>
      <%=item.name%>
    </span>
  </a>
  <%} else {%>
  <a class="pagination-item pagination__single" href=<%=item.link%>>
    <span>
      <%=item.name%>
    </span>
  </a>
  <%}})%>
</div>
<div class="row">
  <% products.forEach(function(item){ %> <%-
          include('../components/productItem', {product: item}); %> <% }); %>
</div>
</div>
</div>
</div>
</section>
<!-- //show Now-->
<% include ../components/footer%>
<% include ../components/cart-shop%>


<script>
  changeConditionShowProduct = () => {
    const condition = document.getElementById("conditionShowProduct").value;
    console.log("condition: ", condition);
    if ('<%=link%>' != '') {
      window.location.href = '<%=link%>' + '&show=' + condition;
    } else {
      window.location.href = 'shop?show=' + condition;

    }
  }
</script>