<div class="col-lg-4 col-md-6 col-sm-6 product-men women_two">
  <div class="product-toys-info">
    <div class="men-pro-item">
      <div class="men-thumb-item">
        <img src=<%=product.imgs%> class="img-thumbnail img-fluid" alt="" />
        <div class="men-cart-pro">
          <div class="inner-men-cart-pro">
            <a href="single?id=<%=product._id%>" class="link-product-add-cart">Xem</a>
          </div>
        </div>
        <%if (product.isNew){%><span class="product-new-top">Mới</span><%}%>
        <%if (product.discount > 0){%><span class="product-new-top">-<%=product.discount*100%>%</span><%}%>        
      </div>
      <div class="item-info-product">
        <div class="info-product-price">
          <div class="grid_meta">
            <div class="product_price">
              <h4>
                <a href="single"><%=product.name%></a>
        </h4>
        <div class="grid-price mt-2">
          <span class="money "><%=(product.price/1000.0).toFixed(3)%>đ</span>
        </div>
      </div>
      <ul class="stars">
        <li>
          <a href="#">
            <i class="fas fa-star"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-star"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-star"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-star"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="far fa-star-half-o"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="toys single-item hvr-outline-out">
      <!-- <form action="" method="get"> -->
      <input type="hidden" name="cmd" value="_cart" />
      <input type="hidden" name="add" value="1" />
      <input type="hidden" name="toys_item" value="toys(barbie)" />
      <input type="hidden" name="amount" value="575.000" />
      <button type="" class="toys-cart ptoys-cart"
        onclick="addItem({id:'<%=product._id%>', name: '<%=product.name%>'})">
        <i class="fas fa-cart-plus"></i>
      </button>
      <!-- </form> -->


      <!-- <form action="/addToCart/<%=product._id%>" method="POST">
        <button type="submit" class="toys-cart ptoys-cart">
          <i class="fas fa-cart-plus"></i>
        </button>
      </form> -->
    </div>
  </div>
  <div class="clearfix"></div>
</div>
</div>
</div>
</div>

<script>
  addItem = (item) => {
    const id = item.id;
    const name = item.name;
    // console.log("iditem: ", idItem, "- id: ", id);
    $.ajax({
      url: "/addToCart?id=" + id,
      type: "get",
      contentType: "application/json; charset=utf-8",
      dataType: "json"
    })
      .done(function (success) {
        console.log("success", success);
        const cart = document.getElementById("cart-shop-message");
        cart.style.width = "400px";
        cart.style.display = "block";
        cart.innerHTML = `Đã thêm <span>${name}</span> vào giỏ hàng`;
      })
      .fail(function (err) {
        console.log("fail");

      });
  }
</script>