<div class="row special-sec1">
  <div class="col-xs-4 img-deals">
    <a href="single/<%=product._id%>">
    <img src=<%=product.imgs%> alt="" class="img-fluid" />
  </a>
  </div>
  <div class="col-xs-8 img-deal1">
      <a href="single/<%=product._id%>">
    <h3><%=product.name%></h3>
      </a>
    <a href="single"><%=product.price%></a>
  </div>
  <div class="clearfix"></div>
</div>
